name: Coverage

on: [push, pull_request]

jobs:
  coverage:
    runs-on: ubuntu-latest
    container:
      image: charlie137/crystal-kcov:latest
      options: --security-opt seccomp=unconfined
    steps:
      - name: Download source
        uses: actions/checkout@v2
      - name: Cache DB
        uses: actions/cache@v2
        with:
          path: ./bulk-data.json
          key: ${{ runner.os }}-${{ hashFiles('**/frightcrawler.db') }}
      - name: Install dependencies
        run: apt-get install -y libsqlite3-dev
      - name: Install shards
        run: shards install --without-development
      - name: Run kcov
        run: ./.github/workflows/coverage
      - name: Upload results
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov -s coverage
